span You seem to be in the middle of a search, but I&rsquo;ve forgotten what you were looking for. Sorry. You also need to allow 
	a(href="http://www.allaboutcookies.org/cookies/session-cookies-used-for.html") session cookies
	|  for this site to work.
