include embedHeader

	h1 Video not found!

	p Sorry, I don&rsquo;t know that video. As this video&rsquo;s been embedded somewhere, either something&rsquo;s gone wrong at my end or the person who put it there needs to work on their copy paste technique. (If that&rsquo;s you then hi! :)

	p I&rsquo;d suggest heading over to the 
		a(href=settings.siteUrl, target="_blank") #{settings.siteTitle}
		| to see if the video you&rsquo;re after is there. Or if you&rsquo;re sure it&rsquo;s my fault it&rsquo;s broken and you just want to shout at me, 
		a(href=settings.siteUrl + "#!contact/", target="_blank") send me a message here
		|.
