div.Content
	a.Close.Round.Button(href="#!")
	h1 Yay!
	p Thanks for suggesting a new name for the #{view.name}! If you gave me your email, I&rsquo;ll get in touch with you soon &ndash; maybe to ask question or two, or otherwise to let you know that it&rsquo;s been added to the site.
	a.Button.Close(href="#!") Close
